/* helper classes */
.add_opacity {
  opacity: .4;
}
.tmp_hidden {
  display: none;
}

/* game board */
table.game_board {
  width: 100%;
  td.game_col {
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    width: calc(100% / 3);
    img.avatar {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 75%;
    }
  }
  td.game_col:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}